// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: Montserrat, sans-serif;

$btn-text-transform: "capitalize";
$btn-icon-font-size: 48px;
$btn-border-radius: 20px;
$btn-font-weight: 950;
$btn-letter-spacing: 0.06em;
